* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-around;
}

main, footer {
  display: flex;
  justify-content: center;
}